* {
    font-family: "Roboto", sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-inline: auto;
}

.header-page {
    background-color: #5065c9;
    padding: 10px 0;
    box-shadow: 0 0 20px 0 #2d409373;
}