:root {
    --dark: #272727;
    --blue: #5065c9;
    --gray-100: #e7e7e7;

    --new: var(--blue);
    --doing: #c9921c;
    --finished: #1cc939;

    --success: #1e9131;
    --error: #d41717;
}

* {
    font-family: "Roboto", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-inline: auto;
}

.header-page {
    background-color: var(--blue);
    padding: 10px 0;
    box-shadow: 0 0 20px 0 #2d409373;
}
/* Fim Header */

/* Inicio Main */
.bg-color {
    background-color: var(--dark);
    min-height: 100vh;
}

.todo-list-container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    color: var(--gray-100);
}

.new-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.new-header svg{
    cursor: pointer;
    transition: .3s;
}

.new-header svg:hover {
    color: var(--blue);
}

.status-title {
    text-shadow: 0 0 3px #c5c5d3b0;
    text-align: center;
}

.cards-container{
    height: 700px;
    background-color: #ffffff08;
    border-radius: 5px;
    padding: 10px 10px 10px 18px;
    box-shadow: 0 0 9px 1px #00000047;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 25px 15px;
    background-color: var(--dark);
    box-shadow: 2px 2px 5px #00000078;
    position: relative;
}

.card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card h3 {
    margin: .3rem 0;
    color: #b8b5b5;
}

.card p {
    padding-top: 1rem;
    border-top: solid 1px #797979;
}

.card .status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.card .delete-item {
    all: unset;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    transition: .3s;
}

.card .delete-item:hover {
    color: red;
}

.NEW .card .status {
    background-color: var(--new);
}

.DOING .card .status {
    background-color: var(--doing);
}

.FINISHED .card .status {
    background-color: var(--finished);
}

.card p {
    color: #9c9c9f;
}
/* Fim Main */


/* Modal Inicio */
.modal-default {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: var(--dark);
    padding: 20px;
}

.modal-default::backdrop {
    background-color: #0000008a;
}

#new-card-modal div {
    display: flex;
    flex-direction: column;
    color: #b8b5b5;
}

#new-card-modal input {
    background-color: var(--dark);
    margin: 10px 0;
    border: solid 1px #8080808e;
    border-radius: 5px;
    color: inherit;
    padding: 10px;
    width: 20rem;
}

#new-card-modal button {
    margin-top: 1rem;
    background-color: var(--blue);
    color: var(--gray-100);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    box-shadow: 2px 2px 7px 1px #0000006e;
    transition: .2s;
}

#new-card-modal button:hover {
    transform: scale(1.05);
}

.close-new-card-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.close-new-card-modal:hover {
    transform: scale(1.05);
}

.cards-container {
    scrollbar-width: thin;
    scrollbar-color: #242424 #4d4f50;
    overflow: auto;
    scrollbar-gutter: stable;
}

/* Chrome, Edge and Safari */
.cards-container::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
.cards-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #4d4f50;
}

.cards-container::-webkit-scrollbar-track:hover {
    background-color: #4d4f50;
}

.cards-container::-webkit-scrollbar-track:active {
    background-color: #4d4f50;
}

.cards-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #242424;
}

.cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}
.cards-container::-webkit-scrollbar-thumb:active {
    background-color: #000000;
}

.btn-default {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 .5rem;
    border:  solid 1px var(--gray-100);
    transition: .2s;
}

.btn-default:hover {
    transform: scale(1.05);
}

#delete-confirm {
    color: var(--gray-100);
}

#cancel-delete {
    color: inherit;
    background-color: transparent;
}

#confirm-delete {
    color: inherit;
    background-color: #cf1919;
}

.message {
    position: absolute;
    display: flex;
    align-items: center;
    gap: .5rem;
    bottom: 20px;
    right: 20px;
    font-size: .9rem;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    color: var(--gray-100);
    padding: 0;
    width: 0;
    transition: .4s;
}

#error {
    background-color: var(--error);
}

#success {
    background-color: var(--success);
}

.show {
    width: fit-content;
    padding: 10px 20px;
}

/* Breakpoints */
@media(max-width: 992px) {
    .todo-list-container {
        grid-template-columns: 1fr;
    }

    .cards-container {
        height: auto;
        padding: 10px 10px 100px 10px;
    }
}