:root {
    --dark: #272727;
    --blue: #5065c9;
    --gray-100: #e7e7e7
}

* {
    font-family: "Roboto", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-inline: auto;
}

.header-page {
    background-color: var(--blue);
    padding: 10px 0;
    box-shadow: 0 0 20px 0 #2d409373;
}
/* Fim Header */

/* Inicio Main */
.bg-color {
    background-color: var(--dark);
    min-height: 100vh;
}

.todo-list-container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    color: var(--gray-100);
}

.new-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.new-header svg{
    cursor: pointer;
    transition: .3s;
}

.new-header svg:hover {
    color: var(--blue);
}

.status-title {
    text-shadow: 0 0 3px #c5c5d3b0;
    text-align: center;
}

.cards-container{
    height: 700px;
    background-color: #ffffff08;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 9px 1px #00000047;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 25px 15px;
    background-color: var(--dark);
    box-shadow: 2px 2px 5px #00000078;
    position: relative;
}

.card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card h3 {
    margin: .3rem 0;
}

.card p {
    margin: 0;
    padding-top: 1rem;
    border-top: solid 1px #797979;
}

.card .status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--blue);
}

.card .delete-item {
    all: unset;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    transition: .3s;
}

.card .delete-item:hover {
    color: red;
}